<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Add Two Numbers</title>
    <link rel="stylesheet" href="plugins/layui/css/layui.css" media="all"/>
</head>
<body>
<div class="layui-row">
    <div class="layui-col-xs6 layui-col-sm6 layui-col-md4 layui-col-xs-offset6">
        <button class="layui-btn layui-btn-xs layui-btn-sm layui-btn-lg" onclick="addNumber()">
            <i class="layui-icon">&#xe654;</i> 增加一个数
        </button>
    </div>
</div>
<div class="layui-row">
    <div id="numberList" class="layui-col-xs6 layui-col-sm6 layui-col-md4">
        <input class="layui-input-inline" type="number" name="combination" value="0"/>
    </div>
</div>
<div class="layui-row">
    <div class="layui-col-xs8 layui-col-sm8 layui-col-md8">
        <label class="layui-form-label" for="result" style="width: 130px; text-align: left;">输入需要计算的结果:</label>
        <input type="number" id="result" value="" style="width: 21%; margin-top: 9px;">
    </div>
    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
        <button class="layui-btn" onclick="requestResult()">开始计算</button>
    </div>
</div>
<div class="layui-row">
</div>
<div class="layui-row">
    <div id="resultList" class="layui-col-xs6 layui-col-sm6 layui-col-md4">

    </div>
</div>
</body>
</html>
<script src="plugins/layui/layui.all.js"></script>
<script>
    let $;
    let layer;
    layui.use('layer', function () {
        $ = layui.$;
        layer = layui.layer;
    });

    function addNumber() {
        let number = '<input class="layui-input-inline" type="number" name="combination" value="0" />';
        $("#numberList").append(number);
    }

    /**
     * 请求计算结果
     */
    function requestResult() {
        let target = $("#result").val();
        if (target == null) {
            layer.msg("请输入目标结果!");
            return;
        }
        let nums = [];
        $(":input[name='combination']").each(function (index, item) {
            nums.push(item.value);
        });
        $.ajax({
            url: "combination",
            data: {nums, "target": target},
            type: "POST",
            dataType: "json",
            success: function (result) {
                let data = result.result;
                $("#resultList").html("");
                $(data).each(function (index, item) {
                    console.log(item);
                    let div = '<div>';
                    let result = '<span> ' + item.result + '</span></br>';
                    let res = '<span> ' + item.res + '</span>';
                    div = div + result + res + "</div>";
                    $("#resultList").append(div);
                });
            }
        })
    }
</script>
